img {
  border-radius: 50%;
}

.img-gray {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.img-blur {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.img-sepia {
    -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
    filter: sepia(100%);
}

.img-opacity {
    -webkit-filter: opacity(50%); /* Safari 6.0 - 9.0 */
    filter: opacity(50%);
}
