.btn {
    width: 100%;
    border: none; /* Remove borders */
    border-radius: 4px;
    font-size: 16px;
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    margin: 5px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.btn .arrow {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn .arrow:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover .arrow {
  padding-right: 25px;
}

.btn:hover .arrow:after {
  opacity: 1;
  right: 0;
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}
