.signature {
	border-top: 5px solid white;
}

.signature ul {
	list-style: none;
	text-align: center;
}

.signature > ul > a:visited {
	color: black;
}

.signature > ul > a:active {
	color: black;
}

.signature > ul > a:hover {
	color: gray;
}

.signature > ul > * {
	font-size: 40px;
	padding-right: 10px;
}